<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <div class="row">
          <div class="col xs-9 sm-6">
            <h1>Inventory</h1>
            <p>Welcome <%= username%></p>
            <form>
              <button
                type="submit"
                class="btn btn-primary"
                id="create-btn"
                formaction="http://localhost:4000/inventory/create"
                formmethod="get"
              >
                Create Inventory
              </button>
              <button
                type="submit"
                class="btn btn-danger"
                id="logout-btn"
                formaction="http://localhost:4000/logout"
                formmethod="get"
              >
                Logout
              </button>
            </form>
          </div>
          <div class="col xs-3 sm-3">
            <div class="p-3">
              <h6>Developer:</h6>
              <div>David - s12842728</div>
              <div>Jimmy - s12842728</div>
            </div>
          </div>
        </div>
        <br />
        <form>
          <label for="search-input" class="form-label">Search</label>
          <input
            type="text"
            class="form-control"
            id="search-input"
            placeholder="Search by inventory name ..."
          />
        </form>
        <br />
        <label for="search-result" class="form-label">Result</label>
        <table class="table table-striped" id="search-result">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item Name</th>
              <th scope="col">Type</th>
              <th scope="col">Manager</th>
              <th scope="col">Operation</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((element,i) => { %>
            <tr>
              <th scope="row"><%= i %></th>
              <td><%= element.name %></td>
              <td><%= element.type %></td>
              <td><%= element.manager %></td>
              <td>
                <a
                  href="http://localhost:4000/inventory/info?id=<%= element.id %>"
                  class="btn btn-outline-primary"
                  role="button"
                  id="inventory-details-btn-<%= element.id %> "
                  >Details</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
