<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <h1>Inventory</h1>
        <p>Welcome <%= username%></p>
        <form>
          <button
            type="submit"
            class="btn btn-primary"
            id="edit-btn"
            formaction="http://localhost:4000/inventory/edit"
            formmethod="get"
            value="<%= id %>"
            name="id"
          >
            Edit Inventory
          </button>
          <button
            type="submit"
            class="btn btn-warning <%= isInValid? 'is-invalid':'' %>"
            id="delete-btn"
            formaction="http://localhost:4000/inventory/delete"
            formmethod="post"
            value="<%= id %>"
            name="id"
          >
            Delete Inventory
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            id="logout-btn"
            formaction="http://localhost:4000/logout"
            formmethod="get"
          >
            Logout
          </button>
          <script>
            if ("<%= username%>" != "<%= data.manager%>") {
              document.getElementById("edit-btn").disabled = true;
              document.getElementById("delete-btn").disabled = true;
            }
          </script>
          <label class="invalid-feedback" for="delete-btn">
            Inventory delete failed! Please retry later ...
          </label>
        </form>

        <div class="d-flex flex-wrap justify-content-evenly mt-2">
          <% Object.entries(data).forEach(([key,value],idx) => { %> <% if (!(key
          == 'photo') && !(key == 'photo_mimetype')){ %>
          <div class="col-sm-6 margin-top-xs mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= capitalizeFirstLetter(key) %></h5>
                <p class="card-text"><%= !!value?value:'N/A' %></p>
              </div>
            </div>
          </div>
          <% } else if (key == 'photo') {%>
          <div class="col-sm-12 margin-top-xs mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Photo</h5>
                <% if (!value) {%>
                <p class="card-text">N/A</p>
                <%} else { %>
                <img
                  style="max-height: 200px; width: auto; object-fit: contain"
                  class="card-img"
                  src="data:image/<%= data.photo_mimetype %>;base64, <%= data.photo %>"
                />
                <% }%>
              </div>
            </div>
          </div>
          <% } %> <% }) %>
        </div>
        <div class="card mt-3" id="map-card">
          <div class="card-body">
            <div id="map" style="height: 300px"></div>
            <script>
              var map = L.map('map').setView([<%=data.latitude%>,<%=data.longitude%>], 13);
              L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiZGF2aWQwMzEiLCJhIjoiY2t3cDU4NnUwMDlnYTJ3anYwZmRlbWx0biJ9.-sW8YzTF7jqvOlehLyOzxw'
              }).addTo(map);
              var marker = L.marker([<%=data.latitude%>,<%=data.longitude%>]).addTo(map);
            </script>
          </div>
        </div>
        <script>
          if ("<%= isInValidCoord%>" == "true") {
            document.getElementById("map-card").hidden = true;
          }
        </script>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
