<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Edit Inventory</h1>
        <form
          id="edit-form"
          method="post"
          enctype="multipart/form-data"
          action="http://localhost:4000/inventory/edit"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="name">Inventory Name</label>
            <input
              name="name"
              class="form-control"
              id="name"
              type="text"
              placeholder="Inventory Name"
              value="<%= data.name %>"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid inventory name.
            </div>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input
              name="type"
              class="form-control"
              id="type"
              type="text"
              placeholder="Type"
              value="<%= data.type %>"
            />
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              name="quantity"
              class="form-control"
              id="quantity"
              type="text"
              placeholder="Quantity"
              value="<%= data.quantity %>"
            />
          </div>
          <div class="form-group">
            <label for="photo-container">Photo</label>
            <div class="card" style="border-radius: 8px">
              <div class="card-body">
                <p class="card-text">Current Photo</p>
                <% if (!data.photo) {%>
                <p class="card-text">N/A</p>
                <%} else { %>
                <img
                  style="
                    max-height: 200px;
                    width: auto;
                    object-fit: contain;
                    border-radius: 8px;
                  "
                  class="card-img"
                  src="data:image/<%= data.photo_mimetype %>;base64, <%= data.photo %>"
                />
                <% }%>
                <div id="photo-container " class="input-group mt-2">
                  <label
                    for="photo"
                    class="input-group-text"
                    style="background-color: white"
                    >Upload</label
                  >
                  <span id="file-chosen" class="p-2">No file chosen</span>
                  <input
                    class="form-control"
                    name="photo"
                    type="file"
                    id="photo"
                    accept=".jpg,.png"
                    hidden
                  />
                  <div class="form-group" hidden>
                    <label for="photo_mimetype">Photo_mimetype</label>
                    <input
                      name="photo_mimetype"
                      class="form-control"
                      id="photo_mimetype"
                      type="text"
                      placeholder="Photo_mimetype"
                    />
                  </div>
                  <script>
                    const inputBtn = document.getElementById("photo");
                    const fileChosen = document.getElementById("file-chosen");
                    const mimetype = document.getElementById("photo_mimetype");
                    inputBtn.addEventListener("change", function () {
                      const file = this.files[0];
                      fileChosen.textContent = file.name;
                      mimetype.value = file.name.split(".")[1];
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row g-3">
            <div class="form-group col-12">
              <label for="street" class="form-label">Street</label>
              <input
                name="street"
                type="text"
                class="form-control"
                id="street"
                placeholder="Street"
                value="<%= data.street %>"
              />
            </div>
            <br />
            <div class="form-group col-12">
              <label for="building" class="form-label">Building</label>
              <input
                name="building"
                type="text"
                class="form-control"
                id="building"
                placeholder="Building"
                value="<%= data.building %>"
              />
            </div>
            <br />
            <div class="form-group col-md-6">
              <label for="country" class="form-label">Country</label>
              <input
                name="country"
                type="text"
                class="form-control"
                id="country"
                placeholder="Country"
                value="<%= data.country %>"
              />
            </div>
            <div class="col-md-2">
              <label for="latitude" class="form-label">Latitude</label>
              <input
                name="latitude"
                type="number"
                class="form-control"
                id="latitude"
                step="0.000001"
                value="<%= data.latitude %>"
              />
            </div>
            <div class="col-md-2">
              <label for="longitude" class="form-label">Longitude</label>
              <input
                name="longitude"
                type="number"
                class="form-control"
                id="longitude"
                step="0.000001"
                value="<%= data.longitude %>"
              />
            </div>
            <div class="col-md-2">
              <label for="zipcode" class="form-label">Zip</label>
              <input
                type="text"
                class="form-control"
                id="zipcode"
                name="zipcode"
                value="<%= data.zipcode %>"
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary <%= isInValid? 'is-invalid':'' %>"
            id="update-btn"
            value="<%= id %>"
            name="id"
          >
            Update
          </button>
          <label class="invalid-feedback" for="login-btn">
            Update inventory failed! Please retry later ...
          </label>
        </form>
        <script>
          (function () {
            "use strict";
            window.addEventListener(
              "load",
              function () {
                var forms = document.getElementsByClassName("needs-validation");
                var validation = Array.prototype.filter.call(
                  forms,
                  function (form) {
                    form.addEventListener(
                      "submit",
                      function (event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add("was-validated");
                      },
                      false
                    );
                  }
                );
              },
              false
            );
          })();
        </script>
      </div>
    </main>

    <footer><%- include('../../partials/footer'); %></footer>
  </body>
</html>
